<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
    
        <title>About Council Election Process</title>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/landing-page.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet.css">
                <style>
            h1 {
                color: black;
                font-family: "Times New Roman", Times, serif;
                font-size: 50px
                }

            h2 {
                font-family: "Times New Roman", Times, serif;
                font-size: 20px;
                color: black;
                }
            h3 { 
                font-family: "Times New Roman", Times, serif;
                font-size: 20px;
                color: black;
            }
            p {
                font-family: "Times New Roman", Times, serif;
                font-size: 18px;
                color: black;
                }

            body {
                font-family: "Times New Roman", Times, serif;
                color: black;
                }
            a {
                font-family: "Times New Roman", Times, serif;
                color: black;
            }
        </style>
    </head>
    <h1> NYC Council Election Process</h1>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/aboutdistrict">About District System <span class="sr-only">(current)</span></a></li>
        <li><a href="/councilelection">About Council Election Process <span class="sr-only">(current)</span></a></li>
        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <h3>Who is eligible to run?</h3>
    <p>According to the state’s Public Officers Law, you must be 18, a U.S. citizen and a state resident to be elected to office in New York. You must also be a resident of the district you represent and you can’t have violated the federal draft laws that were in place for World War I or II. According to the New York City Board of Elections, to get your name on the ballot for the city council primary election, you must collect signatures. The official due dates for the next election have not yet been decided, but petitions are usually due sometime in mid-July. The city Board of Elections provides a sample cover letter to accompany your signatures. The Board of Elections also provides samples of how signatures should be presented for the general and primary elections. The signatures you collect must come from registered voters living in the district you want to run in. If you want to seek a particular party’s nomination, then these voters must be registered to that party. If you are running as an independent, then any voters in the district can sign, as long as they have not signed for any other candidate. Whether you want to run in a primary, or appear on the general election ballot as an independent, you’ll need 450 valid signatures, because opponents can challenge the validity of your signatures, and possibly get some of them discounted, candidates normally collect two to four times as many signatures as needed.</p>
    <h3>How do You Fund Your Campaign?</h3>
    <p>To fund a campaign, all candidates are required to register with the Campaign Finance Board. To do this you must first get an Employer Identification Number from the IRS. You do this by filling out the Application for Employer Identification Number (SS-4). After you’ve obtained your EIN (Employer Identification Number) you must fill out several other documents with both the city and state Boards of Elections.If you plan on raising, spending and disclosing money yourself, then you must file the Candidate Campaign Finance Registration Form to Request NYSBOE ID# and PIN (CF-04). If you have an authorized committee to file on your behalf, then you will file The Committee Registration/ Treasurer and Bank Information Form (CF-02), Committee Authorization Status (CF-03) and Candidate’s Authorization for a Committee to Make Campaign Finance Disclosures (CF-16). All documents can be found on the Board of Elections website. After you’ve filed all the required documents, you will then be registered with the Campaign Finance Board (CFB). After that, you will be responsible for filing all of your funding and spending with the Campaign Finance Board. All candidates must report who gives contributions to their campaigns and how their campaigns spend money. Each contributor can donate no more than $2,750 over the course of the campaign. Candidates who abide by additional regulations can participate in the city’s matching fund program, in which campaigns are given taxpayer money based on how much they have collected in qualifying contributions. According to the Campaign Finance Act, to qualify for public funds, City Council candidates are required to raise a minimum of $5,000 from at least 75 contributors living in their district. If a candidate qualifies for public funding, then the city will contribute $6 for every dollar received from a New York City resident, up to a maximum of $1,050 per contributor. City Council candidates participating in the matching funds program can spend up to $168,000 in both the primary election and the general election (Contribution limits, qualifying thresholds and spending caps are different for other city offices like borough president and mayor. Click here for details.). All candidates must file regular reports to the Campaign Finance Board during and after the campaign. The CFB audits each campaign after the election cycle ends. Candidates who violate campaign finance rules can face substantial fines and orders to pay back matching funds; candidates and campaign treasurers can be held personally liable for these penalties. So be sure to read the CFB’s handbook and attend a free training session before you start collecting or spending money.</p>
    <img src="https://coronewyork.org/wp-content/uploads/2015/08/city-council.jpg" width="700 px"/>
</html>