<!DOCTYPE html>
<html>
    <head>
      
        <meta charset="UTF-8">
    
        <title>About NYC District System</title>
        <!-- Bootstrap Core CSS -->
        <link href="css/bootstrap.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="css/landing-page.css" rel="stylesheet">
        <link href="css/stylesheet.css" rel="stylesheet">
        <link rel="stylesheet" href="stylesheet.css">
        <style>
            h1 {
                color: black;
                font-family: "Times New Roman", Times, serif;
                font-size: 50px
                }

            h2 {
                font-family: "Times New Roman", Times, serif;
                font-size: 20px;
                color: black;
                }
            h3 { 
                font-family: "Times New Roman", Times, serif;
                font-size: 20px;
                color: black;
            }
            p {
                font-family: "Times New Roman", Times, serif;
                font-size: 18px;
                color: black;
                }

            body {
                font-family: "Times New Roman", Times, serif;
                color: black;
                }
            a {
                font-family: "Times New Roman", Times, serif;
                color: black;
            }
        </style>
    </head>
    <h1>NYC District System</h1>
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/aboutdistrict">About District System <span class="sr-only">(current)</span></a></li>
        <li><a href="/councilelection">About Council Election Process <span class="sr-only">(current)</span></a></li>
        <li><a href="/">Home <span class="sr-only">(current)</span></a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <h3>Zoning Districts</h3>
    <p>The city is divided into three basic zoning districts: Residence (R), Commercial (C) and Manufacturing (M). The three basic districts are further divided into a range of lower-, medium- and higher-density residence, commercial and manufacturing districts to accommodate an extraordinary variety of building forms and permitted uses. Residential, commercial, industrial/transportation, and public facility uses currently occupy about 65 percent of the city’s total lot area. Another 10 percent is vacant or occupied by parking or miscellaneous uses. The remaining lot area, about 25 percent, is parkland or other open space, most of which is not subject to zoning regulations. (Lot area is exclusive of streets, which comprise about 21 percent of the city’s gross land area.)</p>
    <h3>Each zoning district regulates:</h3>
    <ul>
        <li>Permitted uses listed in one or more of 18 use groups.</li>
        <li>The size of the building in relation to the size of the zoning lot, known as the floor area ratio, commonly referred to as FAR.</li>
        <li>For residential uses, the number of dwelling units permitted, the amount of open space and plantings required on the zoning lot and the maximum amount of the lot that can be covered by a building.</li>
        <li>The distance between the building and the front, side and rear lot lines.</li>
        <li>The amount of required or permitted parking.</li>
        <li>Other features applicable to specific residence, commercial or manufacturing districts.</li>
    </ul>
    <p>Zoning districts may in turn be overlaid by one of the City’s 64 special purpose districts.The City Planning Commission has been designating special purpose districts since 1969 to achieve specific planning and urban design objectives in defined areas with unique characteristics.</p>
    <img src="https://media.timeout.com/images/101705313/image.jpg" width="700px"/>
    </head>
</html>